.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35; /* 35% */
}
.sidebar__header {
  /* padding: 20px; */
  display: flex;
  justify-content: space-between;
  border-right: 1px solid lightgrey;
}
.sidebar__headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 10vw;
}
.sidebar__headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}
.sidebar__search {
  height: 39px;
  align-items: center;
  display: flex;
  background-color: #f6f6f6;
  padding: 10px;
}
.sidebar__searchContainer {
  align-items: center;
  display: flex;
  background-color: white;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}
.sidebar__searchContainer > .MuiSvgIcon-root {
  color: grey;
  padding: 10px;
}
.sidebar__searchContainer > input {
  border: none;
  margin-left: 10px;
  outline-width: 0;
}
.sidebar__chats {
  flex: 1;
  background-color: #fff;
  overflow: scroll;
}
